# ========================
# NODE / FRONTEND
# ========================
node_modules
dist
build
.vite

# ========================
# ENV FILES
# ========================
.env
.env.*
!.env.example

# ========================
# LOGS
# ========================
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ========================
# SYSTEM FILES
# ========================
.DS_Store

# ========================
# PYTHON
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv
.venv2

# ========================
# DATABASES
# ========================
*.db
*.sqlite
*.sqlite3

# ========================
# MEDIA (optional but recommended for POS)
# ========================
*.mp3
*.ogg
*.wav
*.jpg
*.jpeg
*.png

# ========================
# IDE
# ========================
.idea
.vscode

# ========================
# BACKUP FILES
# ========================
*.bak