{% extends "base.html" %}

{% block content %}

<h2>🌦 Check Weather</h2>

<form method="POST">
    <input type="text" name="city" placeholder="Enter city name..." required>
    <button type="submit">Get Weather</button>
</form>

<hr>

{% if weather and weather.get("main") %}

    <div class="card">
        <h2>📍 {{ weather.get("name") }}</h2>

        <p>🌡 Temperature: {{ weather["main"]["temp"] }} °C</p>
        <p>🥵 Feels Like: {{ weather["main"]["feels_like"] }} °C</p>
        <p>💧 Humidity: {{ weather["main"]["humidity"] }}%</p>
        <p>💨 Wind Speed: {{ weather["wind"]["speed"] }} m/s</p>
    </div>

{% elif weather %}
    <div class="error">
        <p>⚠️ Invalid weather data received.</p>
    </div>

{% else %}
    <p>Enter a city to see weather data.</p>
{% endif %}

{% endblock %}